* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: -webkit-fill-available;
    /* overflow-x: hidden; */
}

body {
    background-color: #fff;
    background-color: #77787B !important;
    font-family: 'Figtree', sans-serif;
    height: -webkit-fill-available;
    /* overflow-x: hidden; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
form,
figure,
label {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #0F232F;
}

a:hover {
    text-decoration: none;
    color: #0F232F;
}

.app {
    position: relative;
    z-index: 0;
    min-height: 100vh;
}

.flex {
    display: flex;
}

.flex-i {
    display: flex;
    align-items: center;
}

.flex-a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.r-50 {
    border-radius: 50%;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    padding: 10px 0 20px 0;
    position: relative;
    z-index: 2;
}

.logo-img {
    width: 120px;
    height: auto;
}

.carholder {
    /* min-height: calc(100vh - 72px); */
    min-height: calc(100vh);
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #77787B;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1;
    left: 0;
}

.carheading {
    position: absolute;
    width: fit-content;
    z-index: 3;
    top: 15px;
    right: 10px;
}

.carSec__h {
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    transform: scale(1);
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    line-height: 1;
}

.carSec__h.active {
    /* transform: scale(0); */
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.carSec {
    position: relative;
    z-index: 0;
}

.carSecBox {
    position: relative;
    z-index: 1;
}

.carSecBox__car {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 2;
}

.dotsHolder {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
}

.dot {
    position: absolute;
    z-index: 3;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #f41b1b;
    cursor: pointer;
    animation: blink 2s infinite linear alternate-reverse;
}

.dot--highlight {
    border-color: #f41b1b;
}


@keyframes blink {
    0% {
        transform: scale(0.3);
    }

    100% {
        transform: scale(1);
    }
}

.dot::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    background-color: #f41b1b;
    border-radius: 50%;
}

.dot--highlight::after {
    background-color: #f41b1b;
}

.dot.active {
    animation: none;
}

.dot1 {
    right: 15%;
    top: 20%;
    /* animation-delay: 0.1s; */
}

.dot2 {
    right: 10%;
    top: 35%;
    animation-delay: 0.2s;
}

.dot3 {
    right: 8%;
    top: 43%;
    animation-delay: 0.3s;
}

.dot4 {
    right: 13%;
    top: 56%;
    animation-delay: 0.4s;
}

.dot5 {
    right: 1%;
    top: 57%;
    animation-delay: 0.5s;
}

.dot6 {
    right: 10%;
    top: 67%;
    animation-delay: 0.1s;
}

.dot7 {
    right: 20%;
    top: 70%;
    animation-delay: 0.2s;
}

.dot8 {
    right: 4%;
    top: 79%;
    animation-delay: 0.3s;
}

.dot9 {
    right: 13%;
    top: 83%;
    animation-delay: 0.4s;
}

.dot10 {
    right: 37%;
    top: 31%;
    animation-delay: 0.5s;
}

.dot11 {
    right: 43%;
    top: 23.5%;
    animation-delay: 0.6s;
}

.dot12 {
    right: 51%;
    top: 12%;
    animation-delay: 0.1s;
}

.dot13 {
    right: 63%;
    top: 20.5%;
    animation-delay: 0.2s;
}

.dot14 {
    right: 75.5%;
    top: 29%;
    animation-delay: 0.3s;
}

.dot15 {
    right: 31%;
    top: 53%;
    animation-delay: 0.4s;
}

.dot16 {
    right: 41%;
    top: 46%;
    animation-delay: 0.5s;
}

.dot17 {
    right: 65%;
    animation-delay: 0.6s;
    top: 47.5%;
}

.dot18 {
    right: 86%;
    top: 47%;
}

.dot19 {
    right: 56%;
    top: 62%;
    animation-delay: 0.1s;
}

.dot20 {
    right: 37.5%;
    animation-delay: 0.2s;
    top: 76.5%;
}

.dot21 {
    animation-delay: 0.3s;
    right: 89.5%;
    top: 83.5%;
}

.dotimg {
    position: absolute;
    left: 50%;
    height: auto;
    image-rendering: auto;
    transform: scale(0);
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.dot.active .dotimg {
    transform: scale(1);
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.dot1-img {
    width: 125px;
    bottom: 100%;
}

.dot2-img {
    width: 190px;
    bottom: 100%;
}

.dot3-img {
    width: 225px;
    bottom: 100%;
}

.dot4-img {
    width: 215px;
    top: 100%;
    left: auto;
    right: 50%;
}

.dot5-img {
    width: 180px;
    bottom: 50%;
}

.dot6-img {
    width: 260px;
    top: 3%;
    bottom: auto;
    left: 12px;
}

.dot7-img {
    width: 210px;
    top: 50%;
    right: 12px;
    left: auto;
}

.dot8-img {
    width: 190px;
    top: 50%;
    bottom: auto;
    left: 12px;
}

.dot9-img {
    width: 270px;
    top: 50%;
    bottom: auto;
    left: 12px;
}

.dot10-img {
    width: 160px;
    bottom: 70%;
    left: auto;
    right: -60px;
}

.dot11-img {
    width: 140px;
    bottom: 70%;
    left: auto;
    right: 50%;
}

.dot12-img {
    width: 130px;
    bottom: 70%;
    left: auto;
    right: 0%;
}

.dot13-img {
    width: 150px;
    bottom: 70%;
    left: auto;
    right: 50%;
}

.dot14-img {
    width: 185px;
    bottom: 70%;
    left: auto;
    right: 50%;
}

.dot15-img {
    width: 158px;
    bottom: 70%;
    left: -48px;
}

.dot16-img {
    width: 220px;
    top: 50%;
    left: auto;
    right: 12px;
}

.dot17-img {
    width: 310px;
    top: 50%;
    left: auto;
    right: 12px;
}

.dot18-img {
    width: 270px;
    bottom: 50%;
    left: auto;
    right: 12px;
}

.dot19-img {
    width: 280px;
    top: 50%;
    left: auto;
    right: 12px;
}

.dot20-img {
    width: 220px;
    top: 50%;
    left: auto;
    right: 12px;
}

.dot21-img {
    width: 220px;
    bottom: auto;
    top: 50%;
    left: auto;
    right: 12px;
}

.mobile {
    transform: scale(0) !important;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.carSec__img {
    width: 120px;
    position: absolute;
    bottom: 15px;
    left: 15px;
    z-index: 9;
    top: auto;
}

@media(width<=1399px) {
    .container {
        max-width: 770px;
    }

    .header {
        padding: 10px 0 10px 0;
    }

    .carholder {
        /* min-height: calc(100vh - 62px); */
    }

    .carSec__h {
        font-size: 28px;
    }

    .dot1-img {
        width: 106px;
    }

    .dot10-img {
        width: 125px;
    }

    .dot2-img {
        width: 160px;
    }

    .dot3-img {
        width: 175px;
    }

    .dot5-img {
        width: 160px;
    }

    .dot8-img {
        width: 160px;
    }

    .dot9-img {
        width: 200px;
    }

    .dot7-img {
        width: 175px;
    }

    .dot20-img {
        width: 165px;
    }

    .dot15-img {
        width: 119px;
        left: -32px;
    }

    .dot18-img {
        width: 217px;
    }

    .dot21-img {
        width: 175px;
    }

    .carSec__img {
        width: 80px;
    }

    .dot19-img {
        width: 220px;
    }

    .dot16-img {
        width: 160px;
    }

    .dot11-img {
        width: 120px;
    }

    .dot12-img {
        width: 110px;
    }

    .dot13-img {
        width: 120px;
    }

    .dot14-img {
        width: 158px;
    }

    .dot17-img {
        width: 239px;
    }

    .dot6-img {
        width: 216px;
    }

    .dot4-img {
        width: 160px;
    }
}

@media(width<=1199px) {
    .container {
        max-width: 700px;
    }

    .header {
        padding: 10px 0;
    }

    .logo-img {
        width: 90px;
    }

    .carholder {
        /* min-height: calc(100vh - 52px); */
    }

    .carSec__h {
        font-size: 25px;
    }

    .dot {
        width: 18px;
        height: 18px;
    }

    .dot::after {
        width: 10px;
        height: 10px;
    }

    .dot1-img {
        width: 90px;
    }

    .dot2-img {
        width: 140px;
        left: 12px;
    }

    .dot3-img {
        width: 160px;
        bottom: 11px;
    }

    .dot4-img {
        width: 145px;
    }

    .dot5-img {
        width: 115px;
    }

    .dot6-img {
        width: 180px;
    }

    .dot7-img {
        width: 137px;
        right: 7px;
    }

    .dot8-img {
        width: 140px;
        left: 7px;
    }

    .dot9-img {
        width: 177px;
        left: 7px;
    }

    .dot10-img {
        width: 114px;
        right: -43px;
    }

    .dot11-img {
        width: 100px;
    }

    .dot12-img {
        width: 85px;
    }

    .dot13-img {
        width: 100px;
    }

    .dot14-img {
        width: 135px;
    }

    .dot15-img {
        width: 105px;
        left: -31px;
    }

    .dot16-img {
        width: 145px;
        right: 8px;
    }

    .dot17-img {
        width: 210px;
        right: 8px;
    }

    .dot18-img {
        width: 195px;
    }

    .dot19-img {
        width: 200px;
    }

    .dot20-img {
        width: 150px;
        right: 7px;
    }

    .dot21-img {
        width: 140px;
    }

}

@media(width<=1199px) and (orientation: portrait) {

    .container {
        max-width: 100%;
        width: 100%;
    }

    .carSec {
        transform: rotate(90deg);
    }
}

@media(width<=992px) {
    .carSec__img {
        width: 80px;
    }

    .container {
        max-width: 600px;
    }

    .carSec__h {
        font-size: 22px;
    }

    .dot {
        width: 12px;
        height: 12px;
    }

    .header {
        padding: 10px 0;
    }

    .carholder {
        /* min-height: calc(100vh - 52px); */
    }

    .dot::after {
        width: 6px;
        height: 6px;
    }

    .dot1-img {
        width: 90px;
    }

    .dot2-img {
        width: 127px;
        left: 8px;
    }

    .dot3-img {
        width: 142px;
        left: 9px;
    }

    .dot4-img {
        width: 140px;
    }

    .dot5-img {
        width: 106px;
        left: 5px;
    }

    .dot6-img {
        width: 150px;
    }

    .dot7-img {
        width: 125px;
        right: 5px;
    }

    .dot8-img {
        width: 122px;
        left: 6px;
    }

    .dot9-img {
        width: 177px;
        left: 4px;
    }

    .dot10-img {
        width: 105px;
        left: -53px;
    }

    .dot11-img {
        width: 90px;
    }

    .dot12-img {
        width: 88px;
    }

    .dot13-img {
        width: 92px;
    }

    .dot14-img {
        width: 125px;
    }

    .dot15-img {
        width: 100px;
        left: -32px;
    }

    .dot16-img {
        width: 132px;
        right: 5px;
    }

    .dot17-img {
        width: 190px;
        right: 5px;
    }

    .dot18-img {
        width: 165px;
        right: 7px;
    }

    .dot19-img {
        width: 175px;
        right: 5px;
    }

    .dot20-img {
        width: 130px;
        right: 4px;
    }

    .dot21-img {
        width: 145px;
        right: 6px;
    }

}

@media(width<=767px) and (orientation: portrait) {

    .container {
        max-width: 100%;
        width: 100%;
    }

    .carSec {
        transform: rotate(90deg);
    }
}

@media(width<=767px) {
    .container {
        max-width: 600px;
        width: 100%;
        padding: 0 10px;
    }

    .header {
        padding: 6px 0;
    }

    .logo-img {
        width: 80px;
    }

    .carSec__img {
        width: 50px;
        bottom: 10px;
    }

    .carSec__h {
        font-size: 17px;
    }

    .carholder {
        /* min-height: calc(100vh - 40px); */
    }

    .carSec {
        transform: rotate(90deg);
    }

    .carSec__img {
        width: 52px;
        bottom: 10px;
    }

    .web {
        transform: scale(0) !important;
        transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    }

    .dot.active .dot1-img {
        transform: scale(1) !important;
        transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    }

    .dot.active .dotimg.mobile {
        transform: scale(1) !important;
        transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    }

    .dot18-img {
        width: 130px;
        right: 7px;
    }

    .dot21-img {
        width: 134px;
        right: 6px;
    }

    .dot2-img {
        width: 105px;
    }

    .dot1-img {
        width: 70px;
    }

    .dot12-img {
        width: 76px;
    }

    .dot13-img {
        width: 83px;
    }

    .dot14-img {
        width: 111px;
    }

    .dot18-img {
        width: 100px;
    }

    .dot21-img {
        width: 105px;
    }

    .dot17-img {
        width: 158px;
    }

    .dot15-img {
        width: 82px;
        left: -25px;
    }

    .dot3-img {
        width: 109px;
    }

    .dot5-img {
        width: 83px;
    }

    .dot8-img {
        width: 92px;
    }

    .dot9-img {
        width: 130px;
        left: 4px;
    }

    .dot6-img {
        width: 117px;
    }

    .dot4-img {
        width: 115px;
    }

    .dot10-img {
        width: 90px;
        left: -44px;
    }

    .dot11-img {
        width: 80px;
    }

    .dot16-img {
        width: 110px;
    }
}

@media(width<=767px) and (orientation: landscape) {

    .carSec {
        transform: rotate(0deg);
    }

    .container {
        max-width: 450px;
        width: 100%;
        padding: 0 10px;
    }
}

@media(max-width:599px) {
    .container {
        max-width: 530px;
        width: 100%;
    }

    .header {
        padding: 5px 0;
    }

    .carholder {
        /* min-height: calc(100vh - 36px); */
    }

    .carSec__h {
        font-size: 14px;
    }

    .dot {
        width: 7px;
        height: 7px;
    }

    .dot::after {
        width: 7px;
        height: 7px;
    }

    .dot15-img {
        width: 87px;
        left: -30px;

    }


    .dot2-img {
        width: 99px;
    }

    .dot3-img {
        width: 101px;
        left: 6px;
    }

    .dot5-img {
        width: 85px;
        left: 3px;
    }

    .dot6-img {
        width: 115px;
        left: 0;
        top: -11px;
    }

    .dot8-img {
        width: 90px;
        left: 4px;
    }

    .dot9-img {
        width: 113px;
        left: 2px;
    }

    .dot14-img {
        width: 96px;
    }

    .dot18-img {
        width: 85px;
        right: 2px;
    }

    .dot19-img {
        width: 172px;
        right: 2px;
    }

    .dot21-img {
        width: 85px;
        right: 0;
    }

    .dot17-img {
        width: 143px;
        right: 3px;
    }

    .dot4-img {
        width: 145px;
    }

    .carSec__img {
        width: 50px;
    }

    .carSec {
        transform: rotate(90deg);
    }

    .dot16-img {
        right: 2px;
    }

    .dot15-img {
        width: 73px;
        left: -19px;
    }
}

@media(height<=431px) and (orientation: landscape) {
    .container {
        max-width: 470px;
    }

    .carSec__h {
        font-size: 16px;
    }

    .dot15-img {
        width: 73px;
        left: -19px;
    }

    .carSec__img {
        width: 50px;
        bottom: 10px;
    }

}

@media(height<=395px) and (orientation: landscape) {
    .container {
        max-width: 395px;
    }

    .carSec__h {
        font-size: 14px;
    }

    .dot21-img {
        width: 115px;
        right: 6px;
    }

    .dot15-img {
        width: 73px;
        left: -19px;
    }
}